.todo-check {
    border-radius:  10px;
    border: 2px solid #4EA8DE;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    margin-right: 5px;
}

.check {
    background-color: #4EA8DE;
    color: #ffffff;
}

.todo-check:hover {
    background-color: #4EA8DE;
    color: #ffffff;
}